:root {
    /* main colors */
    --green: #90de23;
    --light-green: #f1fae8;
    --blue: #0074ff;
    --light-blue: #f3f9ff;
    --yellow: #ffe500; 
    --light-gray: #f8f8f8;     
    --gray: #b3b3b3;
    --dark-gray: #666666;  
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    color: #666666;
}
a {
    color: #0074ff;
}
a:hover {
    color: #0074ff;
}
h1, h2, h3 {
    font-weight: bold;
    color: #000;     
}
h1 {
    font-size: 1.625rem;  
}
h2 {
    font-size: 1.5rem; 
}
h3 {
    font-size: 1rem;
}

/* bootstrap overwrite */
.form-control {
    border: 1px solid #ebebeb;
    border-radius: 10px;
}
/* pagination */
.page-link {
    color: #b3b3b3;
    border: 1px solid transparent;
    border-radius: 10px;
    margin: 0 .5rem;
}
.page-link:hover {
    color: #b3b3b3;
    background-color: #fff;
    border: 1px solid transparent;    
}
.page-item:first-child .page-link {
    color: #cfcfcf;
    border-radius: 10px;    
} 
.page-item:last-child .page-link {
    color: #cfcfcf;
    border-radius: 10px;    
}
.page-item.active .page-link {
    border: 1px solid #b3b3b3;
    background-color: #fff;
    color: #b3b3b3;    
}

/*sticky header position*/
.sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #fff;
}
/* offcanvas */
#offCanvas, #offCanvasRight {
    background-color: #fff;
    z-index: 1080;
}
#offcanvas-menu .nav-link {
    font-size: 0.875rem;
    color: #666666;
}
#offcanvas-menu .nav-link:hover {
    color: #000;
}
#triggerButton {
    background-color: #90de23;
    color: #fff;
}

/* header */
.top-menu-line {
    background-color: #f8f8f8;
}
#top-menu .nav-link {
    padding: .5rem .5rem;
    font-size: 0.875rem; 
    color: #666666;   
}
.region-change span {
    display: block;
    font-size: 0.875rem;
    padding: .5rem 0;
    white-space: nowrap;
}
.phone-top {
    display: block;    
    color: #000;
    font-weight: bold;
    font-size: 0.875rem;
    padding: .5rem 0;
    white-space: nowrap;    
    text-align: right;  
}
.phone-top:hover {
    color: #000;
    text-decoration: none;
}
.main-menu-line {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    -webkit-box-shadow: -1px 12px 45px -26px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 12px 45px -26px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 12px 45px -26px rgba(0, 0, 0, 0.75);
}
#main-menu .nav-link {
    font-size: 1rem;
    color: #666666;
}
#main-menu .nav-link:hover {
    color: #000;
}
.btn-catalog {
    background-color: #f3f9ff;
    font-weight: bold;
    color: #0074ff;
    border-radius: 40px;    
}
.btn-catalog:hover,
.btn-catalog:focus {
    background-color: #0074ff;
    color: #fff;  
}
.btn-cart {
    border-radius: 30px;
    background-color: #f1fae8;
    color: #90de23;
    font-size: 1rem;
}
.btn-cart:hover {
    background-color: #90de23;
    color: #fff;
}
.btn-user {
    background-color: #f3f9ff;
    color: #0074ff;
    border-radius: 50%;
}
.btn-user:hover {
    background-color: #0074ff;
    color: #fff;
}
.btn-favorite {
    color: #b3b3b3;
}
.btn-favorite:hover {
    color: red;
}
#search,
#search-mobile {
    border-right: 1px solid transparent;
}
.btn-search {
    border-radius: 10px;
    border: 1px solid #ebebeb;
    border-left: 1px solid transparent;
    color: #ebebeb;
}
.btn-search-collapse {
    color: #666666;
}

/* sidebar */

#sidebar-menu .nav-link {
    font-size: 0.875rem;
    font-weight: bold;
    color: #666666;  
    padding: .2rem 0;  
}
#sidebar-menu .nav-link:hover {
    color: #000;
}

#sidebar a[data-toggle="collapse"]>.filter-title {
    font-size: 1.375rem;
    color: #000;
}
#sidebar a[data-toggle="collapse"]:hover {
    text-decoration: none;    
}
#sidebar a[data-toggle="collapse"]>.filter-title:after {
    font-family: 'Font Awesome\ 5 Free';
    content: "\f107";
    font-weight: 900; 
    margin-left: .5rem;   
}
#sidebar a[data-toggle="collapse"].collapsed>.filter-title:after {
    content: "\f106";
}
#sidebar .form-check-label {
    font-size: 0.875rem;
    color: #666666;
    font-weight: bold;
}
#sidebar .form-check-label:hover {
    color: #000;    
}
#sidebar .form-check-input:checked + .form-check-label {
    color: #000;
}
.btn-blue {
    width: 100%;
    background-color: #0074ff;
    color: #fff;
    border-radius: 10px;
    font-size: 0.875rem;
    font-weight: bold;
}
.btn-blue:hover {
    color: #0074ff;
    background-color: #f3f9ff;
}

/* catalog page */

/* breadcrumb */
.breadcrumb {
    background-color: transparent;
}
.breadcrumb-item a {
    font-size: 0.875rem;
    color: #4e4e4e;
    text-decoration: underline;
}
.breadcrumb-item a:hover {
    text-decoration: none;
}
.breadcrumb-item.active {
    color: #bdbdbd;
}
.breadcrumb-item+.breadcrumb-item::before {
    font-family: 'Font Awesome\ 5 Free';
    color: #b3b3b3;
    content: "\f061";
    font-weight: 900; 
}

.catalog-title {
    font-size: 1.625rem;
    font-weight: bold;
    color: #000;
}
.catalog-title+span {
    font-size: 0.875rem;
    color: #cfcfcf;
}

/* sorting block */
.sorting-block {
    font-size: 0.875rem;
    color: #909090;
}
.sorting-block a {
    color: #007cb9;
    border-bottom: 1px dashed #007cb9;
}
.sorting-block i:before {
    font-size: 1.85rem;
    vertical-align: middle;
}
.sorting-block a:hover {
    text-decoration: none;
    border-bottom: none;
}

/* product card */
.product-card {
    border: 2px solid #ececec;
    border-radius: 10px;
}
.product-card .card-img-top {
    padding: 1rem 1rem 0 1rem;
    max-width: 180px;
    max-height: 180px;
    margin: 0 auto;
}
.product-card .label {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #ffef00;
    font-size: .75rem;
    font-weight: bold;
    padding: .5rem .5rem;
    border-radius: 10px 0 0 10px;
}
.product-card .card-title {
    font-size: 1rem;
    font-weight: bold;
}
.product-card .card-text {
    font-size: 0.875rem;
    color: #666666;
}
.product-card .card-text a {
    color: #000;
}
.product-card .card-price {
    font-size: 1.875rem;
    color: #90de23;
}
.product-card .card-price span {
    font-size: 0.75rem;
}
.product-card .btn-buy {
    font-size: 1.25rem;
    background-color: #90de23;
    color: #fff;
    border-radius: 50px;
    width: 100%;
    border: 2px solid #90de23;
}
.product-card .btn-buy:hover {
    color: #90de23;
    background-color: #f1fae8;
    border: 2px solid #90de23;
}
.text-block {
    font-size: 0.875rem;
    color: #666;
}

/* footer */
#footer {
    background-color: #f7f8fa;
}
#footer .nav-link {
    font-size: 1rem;
}
.bottom-menu {
    font-size: 1rem;
    font-weight: bold;
}
.bottom-menu .nav-link {
    color: #000;    
}
#bottom-footer {
    border-top: 2px solid #edeeef;
}
#bottom-footer-menu .nav-link {
    font-size: 0.875rem;
    color: #b3b3b3;
}
.social-block a:before {
    color: #b3b3b3;
    font-size: 2rem;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
@media (min-width: 576px) {

}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {

}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
 
@media (max-width: 575px) { 

}
@media (max-width: 767px) { 

}

/* other css */

/* 
================
Main page styles
================
*/
#catalog-links a {
    display: flex;
    position: relative;
    background-color: #f8f8f8;
    align-items: center;
    justify-content: flex-end;
    padding: 0 1rem 0 110px;
    min-height: 100px;
    border-radius: 10px;
}
#catalog-links a:hover {
    text-decoration: none;
}
#catalog-links a>img {
    position: absolute;
    left: 0;
    bottom: 0;
}
#catalog-links a>span {
    text-align: right;
    color: #666666;
}

#advantage i {
    display: block;
    color: #b3b3b3;
    font-size: 2.75rem;
    text-align: center;
    padding-bottom: 2rem;
}
#advantage p {
    font-size: 0.875rem;
    color: #b3b3b3;
    text-align: center;
}

#big-banner {
    background: url(../img/main/first_banner.png) no-repeat center center;
    background-size: cover;
}
#big-banner .banner-title {
    font-size: 2.75rem;
    line-height: 3.75rem;
    color: #000;
    font-weight: bold;
}
.btn-green {
    background-color: #90de23;
    color: #fff;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bold;
}
.btn-green:hover {
    color: #fff;
}
#description {
    background: url(../img/main/second_form.png) no-repeat center center;
    background-size: cover;
}
#description .description-title {
    font-size: 2.75rem;
    line-height: 3.75rem;
    color: #000;
    font-weight: bold;
}

/* 
================
Product page css
================
*/
.provider-line {
    background-color: #fafafa;
}
.border {
    border: 2px solid #f2f2f2;
    border-radius: 10px;
}



/* 
================
Welcome page css
================
*/
.slider-nav div {
    margin: 0 .5rem;
}
#profit img {
    display: block;
    margin: 0 auto;
}
#profit p {
    text-align: center;
    font-size: 0.875rem;
    margin-top: 1rem;
}
#partners img {
    display: block;
    margin: 0 auto;  
    margin-bottom: 1rem;  
}
#video p {
    font-size: 0.875rem;
}


