:root {
    /* main colors */
    --green: #90de23;
    --light-green: #f1fae8;
    --blue: #0074ff;
    --light-blue: #f3f9ff;
    --yellow: #ffe500; 
    --light-gray: #f8f8f8;     
    --gray: #b3b3b3;
    --dark-gray: #666666;  
}

body {
    font-family: 'Roboto', sans-serif;
}
/* bootstrap overwrite */
.form-control {
    border: 1px solid #ebebeb;
    border-radius: 10px;
}


/* header */
.top-menu-line {
    background-color: #f8f8f8;
}
#top-menu .nav-link {
    padding: .5rem .5rem;
    font-size: 0.875rem; 
    color: #666666;   
}
.region-change span {
    display: block;
    font-size: 0.875rem;
    padding: .5rem 0;
    white-space: nowrap;
}
.phone-top {
    display: block;    
    color: #000;
    font-weight: bold;
    font-size: 0.875rem;
    padding: .5rem 0;
    white-space: nowrap;    
    text-align: right;  
}
.main-menu-line {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    -webkit-box-shadow: -1px 12px 45px -26px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 12px 45px -26px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 12px 45px -26px rgba(0, 0, 0, 0.75);
}
#main-menu .nav-link {
    color: #666666;
}
#main-menu .nav-link:hover {
    color: #000;
}
.btn-catalog {
    background-color: #f3f9ff;
    font-weight: bold;
    color: #0074ff;
    border-radius: 40px;    
}
.btn-catalog:hover {
    background-color: #0074ff;
    color: #fff;  
}
.btn-cart {
    border-radius: 30px;
    background-color: #f1fae8;
    color: #90de23;
    font-size: 1rem;
}
.btn-user {
    background-color: #f3f9ff;
    color: #0074ff;
    border-radius: 50%;
}
.btn-favorite {
    color: #b3b3b3;
}
.btn-favorite:hover {
    color: red;
}
#search,
#search-mobile {
    border-right: 1px solid transparent;
}
.btn-search {
    border-radius: 10px;
    border: 1px solid #ebebeb;
    border-left: 1px solid transparent;
    color: #ebebeb;
}
.btn-search-collapse {
    color: #666666;
}

/*sticky header position*/
.sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #fff;
}
/* offcanvas */
#offCanvas, #offCanvasRight {
    background-color: #fff;
    z-index: 1080;
}
#offcanvas-menu {
    font-size: 0.875rem;
}

/* sidebar */
#sidebar a[data-toggle="collapse"]>.filter-title {
    font-size: 1.375rem;
    color: #000;
}
#sidebar a[data-toggle="collapse"]:hover {
    text-decoration: none;    
}
#sidebar a[data-toggle="collapse"]>.filter-title:after {
    font-family: 'Font Awesome\ 5 Free';
    content: "\f107";
    font-weight: 900; 
    margin-left: .5rem;   
}
#sidebar a[data-toggle="collapse"].collapsed>.filter-title:after {
    content: "\f106";
}

#sidebar .form-check-label {
    font-size: 0.875rem;
    color: #000;
    font-weight: bold;
}
.btn-blue {
    width: 100%;
    background-color: #0074ff;
    color: #fff;
    border-radius: 10px;
    font-size: 0.875rem;
}
.btn-blue:hover {
    color: #fff;
}

/* main */
.breadcrumb {
    background-color: transparent;
}
.breadcrumb-item+.breadcrumb-item::before {
    color: #b3b3b3;
    content: ">";
}

.catalog-title {
    font-size: 1.625rem;
    font-weight: bold;
    color: #000;
}
.catalog-title+span {
    font-size: 0.875rem;
    color: #cfcfcf;
}

/* sorting block */
.sorting-block {
    font-size: 0.875rem;
}

/* product card */
.product-card {
    border: 2px solid #ececec;
    border-radius: 10px;
}
.product-card .card-img-top {
    padding: 1rem 1rem 0 1rem;
}
.product-card .card-title {
    font-size: 1rem;
    font-weight: bold;
}
.product-card .card-text {
    font-size: 0.875rem;
    color: #666666;
}
.product-card .card-price {
    font-size: 1.875rem;
    color: #90de23;
}
.product-card .card-price span {
    font-size: 0.75rem;
}
.product-card .btn-buy {
    font-size: 1.25rem;
    background-color: #90de23;
    color: #fff;
    border-radius: 50px;
    width: 100%;
}


.text-block {
    font-size: 0.875rem;
    color: #666;
}



/* footer */
#footer {
    background-color: #f7f8fa;
}
#footer .nav-link {
    font-size: 1rem;
}
.bottom-menu {
    font-size: 1rem;
    font-weight: bold;
}
.bottom-menu .nav-link {
    color: #000;    
}
#bottom-footer {
    border-top: 2px solid #edeeef;
}
#bottom-footer-menu .nav-link {
    font-size: 0.875rem;
    color: #b3b3b3;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
@media (min-width: 576px) {

}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {

}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
 
@media (max-width: 575px) { 

}
@media (max-width: 767px) { 

}

/* other css */
