:root {
    /* main colors */
    --green: #90de23;
    --light-green: #f1fae8;
    --blue: #0074ff;
    --light-blue: #f3f9ff;
    --yellow: #ffe500; 
    --light-gray: #f8f8f8;     
    --gray: #b3b3b3;
    --dark-gray: #666666;  
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    color: #666666;
}
a {
    color: #0074ff;
}
a:hover {
    color: #0074ff;
}
h1, h2, h3 {
    font-weight: bold;
    color: #000;     
}
h1 {
    font-size: 1.625rem;  
}
h2 {
    font-size: 1.5rem; 
}
h3 {
    font-size: 1rem;
}

/* bootstrap overwrite */
.form-control {
    border: 1px solid #ebebeb;
    border-radius: 10px;
}
.modal-header {
    border-bottom: none;
}
.modal-footer {
    border-top: none;
}
.badge {
    border-radius: 50%;
}
.modal-content {
    border-radius: 10px;
}

/* modal registration */
.right-modal {
    background-color: #f6f6f6;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#modal-registration .form-control {
    text-align: center;
    margin-bottom: 1rem;
}

.btn-form {
    margin: 0 auto;
    font-size: 1.25rem;
    background-color: #90de23;
    color: #fff;
    border-radius: 50px;
    width: 100%;
    border: 2px solid #90de23;
}
.btn-form:hover {
    color: #90de23;
    background-color: #f1fae8;
    border: 2px solid #90de23;
}

/* modal region */
#modal-region .column {
    padding: 0;
    list-style: none;
    column-count: 3;
}
#modal-region .column a {
    display: block;
    font-size: 0.875rem;
    padding: .25rem 0;
    color: #000;
}
#modal-region .column a:hover {
    /* color: #000; */
}
  

/* pagination */
.page-link {
    color: #b3b3b3;
    border: 1px solid transparent;
    border-radius: 10px;
    margin: 0 .5rem;
}
.page-link:hover {
    color: #b3b3b3;
    background-color: #fff;
    border: 1px solid transparent;    
}
.page-item:first-child .page-link {
    color: #cfcfcf;
    border-radius: 10px;    
} 
.page-item:last-child .page-link {
    color: #cfcfcf;
    border-radius: 10px;    
}
.page-item.active .page-link {
    border: 1px solid #b3b3b3;
    background-color: #fff;
    color: #b3b3b3;    
}

/*sticky header position*/
.sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #fff;
}
/* offcanvas */
#offCanvas, #offCanvasRight {
    background-color: #fff;
    z-index: 1080;
}
#offcanvas-menu .nav-link {
    font-size: 0.875rem;
    color: #666666;
}
#offcanvas-menu .nav-link:hover {
    color: #000;
}
#triggerButton {
    background-color: #90de23;
    color: #fff;
}

/* header */
.top-menu-line {
    background-color: #f8f8f8;
}
#top-menu .nav-link {
    padding: .5rem .5rem;
    font-size: 0.875rem; 
    color: #666666;   
}
.region-change span {
    display: block;
    font-size: 0.875rem;
    padding: .5rem 0;
    white-space: nowrap;
}
.phone-top {
    display: block;    
    color: #000;
    font-weight: bold;
    font-size: 0.875rem;
    padding: .5rem 0;
    white-space: nowrap;    
    text-align: right;  
}
.phone-top:hover {
    color: #000;
    text-decoration: none;
}
.main-menu-line {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    -webkit-box-shadow: -1px 12px 45px -26px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 12px 45px -26px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 12px 45px -26px rgba(0, 0, 0, 0.75);
}
#main-menu .nav-link {
    font-size: 1rem;
    color: #666666;
}
#main-menu .nav-link:hover {
    color: #000;
}
.btn-catalog {
    background-color: #f3f9ff;
    font-weight: bold;
    color: #0074ff;
    border-radius: 40px;    
}
.btn-catalog:hover,
.btn-catalog:focus {
    background-color: #0074ff;
    color: #fff;  
}
.btn-cart {
    border-radius: 30px;
    background-color: #f1fae8;
    color: #90de23;
    font-size: 1rem;
}
.btn-cart:hover {
    background-color: #90de23;
    color: #fff;
}
.btn-user {
    background-color: #f3f9ff;
    color: #0074ff;
    border-radius: 50%;
}
.btn-user:hover {
    background-color: #0074ff;
    color: #fff;
}
.btn-favorite {
    color: #b3b3b3;
}
.btn-favorite:hover {
    color: red;
}
#search,
#search-mobile {
    border-right: 1px solid transparent;
}
.btn-search {
    border-radius: 10px;
    border: 1px solid #ebebeb;
    border-left: 1px solid transparent;
    color: #ebebeb;
}
.btn-search-collapse {
    color: #666666;
}
.percent {
    background-color: #ffe500;
    border-radius: 50%;
}

/* sidebar */
#sidebar-menu .nav-link {
    font-size: 0.875rem;
    font-weight: bold;
    color: #666666;  
    padding: .2rem 0;  
}
#sidebar-menu .nav-link span {
    color: #b3b3b3;
    font-weight: normal;
}
#sidebar-menu .nav-link:hover {
    color: #000;
}

#sidebar a[data-toggle="collapse"]>.filter-title {
    font-size: 1.375rem;
    color: #000;
}
#sidebar a[data-toggle="collapse"]:hover {
    text-decoration: none;    
}
#sidebar a[data-toggle="collapse"]>.filter-title:after {
    font-family: 'Font Awesome\ 5 Free';
    content: "\f107";
    font-weight: 900; 
    margin-left: .5rem;   
}
#sidebar a[data-toggle="collapse"].collapsed>.filter-title:after {
    content: "\f106";
}
#sidebar .form-check-label {
    font-size: 0.875rem;
    color: #666666;
    font-weight: bold;
}
#sidebar .form-check-label:hover {
    color: #000;    
}
#sidebar .form-check-input:checked + .form-check-label {
    color: #000;
}
.btn-blue {
    width: 100%;
    background-color: #0074ff;
    color: #fff;
    border-radius: 10px;
    font-size: 0.875rem;
    font-weight: bold;
}
.btn-blue:hover {
    color: #0074ff;
    background-color: #f3f9ff;
}

/* 
============
catalog page
============
*/

/* breadcrumb */
.breadcrumb {
    background-color: transparent;
}
.breadcrumb-item a {
    font-size: 0.875rem;
    color: #4e4e4e;
    text-decoration: underline;
}
.breadcrumb-item a:hover {
    text-decoration: none;
}
.breadcrumb-item.active {
    color: #bdbdbd;
}
.breadcrumb-item+.breadcrumb-item::before {
    font-family: 'Font Awesome\ 5 Free';
    color: #b3b3b3;
    content: "\f061";
    font-weight: 900; 
}

.catalog-title {
    font-size: 1.625rem;
    font-weight: bold;
    color: #000;
}
.catalog-title+span {
    font-size: 0.875rem;
    color: #cfcfcf;
}

/* modal all */
#modal-all .modal-footer {
    display: block;
    background-color: #f6f6f6;
}
#modal-all .column {
    padding: 0;
    list-style: none;
    column-count: 3;
}
#modal-all #pills-tab a:hover {
    text-decoration: none;
}
#modal-all #pills-tab a.active {
    border-bottom: 1px dashed #0075ff;
}
#modal-all .column.cat {
    font-weight: bold;
}
#modal-all .column a {
    display: block;
    font-size: 0.875rem;
    padding: .25rem 0;
    text-decoration: underline;
    color: #0075ff;
}
#modal-all .column a:hover {
    text-decoration: none;
}
#modal-all .liters-en a,
#modal-all .liters-ru a,
#modal-all .liters-en span,
#modal-all .liters-ru span {
    text-decoration: none;
    font-size: 1rem;
    font-weight: normal;
    text-transform: uppercase;
    margin-right: .5rem;
    font-weight: bold; 
}
#modal-all .liters-en a,
#modal-all .liters-ru a {
    color: #0075ff;
}
#modal-all .liters-en span,
#modal-all .liters-ru span {
    color: #b8b8b8; 
}



/* sorting block */
.sorting-block {
    font-size: 0.875rem;
    color: #909090;
}
.sorting-block a {
    color: #007cb9;
    border-bottom: 1px dashed #007cb9;
}
.sorting-block i:before {
    font-size: 1.85rem;
    vertical-align: middle;
}
.sorting-block a:hover {
    text-decoration: none;
    border-bottom: none;
}


/* product card */
.product-card {
    border: 2px solid #ececec;
    border-radius: 10px;
    height: 100%;
}
.product-card>a {
    display: block;
    margin: 0 auto;
}
.product-card .card-img-top {
    padding: 1rem 1rem 0 1rem;
    max-width: 180px;
    max-height: 180px;
}
.product-card .card-footer {
    padding: .75rem 1.25rem;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
}
.product-card .label {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #ffef00;
    font-size: .75rem;
    font-weight: bold;
    padding: .5rem .5rem;
    border-radius: 10px 0 0 10px;
}
.product-card .card-title {
    font-size: 1rem;
    font-weight: bold;
}
.product-card .card-text {
    font-size: 0.875rem;
    color: #666666;
}
.product-card .card-text a {
    color: #000;
}
.product-card .card-price {
    font-size: 1.875rem;
    color: #90de23;
}
.product-card .card-price span {
    font-size: 0.75rem;
}
.product-card .card-price i[class="fas fa-ruble-sign"] {
    font-size: 1.5rem;
}
.product-card .btn-buy {
    font-size: 1.25rem;
    background-color: #90de23;
    color: #fff;
    border-radius: 50px;
    width: 100%;
    border: 2px solid #90de23;
}
.product-card .btn-buy:hover {
    color: #90de23;
    background-color: #f1fae8;
    border: 2px solid #90de23;
}
.text-block {
    font-size: 0.875rem;
    color: #666;
}

/* footer */
#footer {
    background-color: #f7f8fa;
}
#footer .nav-link {
    font-size: 1rem;
}
.bottom-menu {
    font-size: 1rem;
    font-weight: bold;
}
.bottom-menu .nav-link {
    color: #000;    
}
#bottom-footer {
    border-top: 2px solid #edeeef;
}
#bottom-footer-menu .nav-link {
    font-size: 0.875rem;
    color: #b3b3b3;
}
.social-block a:before {
    color: #b3b3b3;
    font-size: 2rem;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
@media (min-width: 576px) {

}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {

}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
 
@media (max-width: 575px) { 

}
@media (max-width: 991px) { 
    #sidebar {
        /* border-top: 1px solid #f8f8f8; */
    }
    #sidebar a[data-toggle="collapse"]>.filter-title {
        font-size: 1rem;
        font-weight: normal;
        color: #000;
        padding: .5rem .5rem;
        margin: 0;
        border-bottom: 1px solid #f8f8f8;
    }
    #sidebar a[data-toggle="collapse"]>.filter-title:hover {
        background-color: #f8f8f8;  
    }
    #sidebar a[data-toggle="collapse"]:hover {
        text-decoration: none; 
    }
    #sidebar a[data-toggle="collapse"]>.filter-title:after {
        float: right;
    }
    #sidebar .collapse-block {
        padding: 1rem;
    }

}

/* other css */

/* 
================
Main page styles
================
*/
#main-page-menu {
    border: 1px solid #ececec;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 8px 8px 45px -26px rgba(0, 0, 0, 0.5);
}
#main-page-menu .nav-item {
    border-bottom: 1px solid #ececec;
}

#main-page-menu .nav-item:last-child {
    border-bottom: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;    
}
#main-page-menu .nav-link {
    font-size: 1rem;
    color: #666666;
    padding: .9rem 1rem .9rem 2rem;
}
#main-page-menu .nav-link:hover {
    color: #000;
    background-color: #f8f8f8;
}

/* 
#catalog-links a {
    display: flex;
    position: relative;
    background-color: #f8f8f8;
    align-items: center;
    justify-content: flex-end;
    padding: 0 1rem 0 110px;
    min-height: 100px;
    border-radius: 10px;
}
#catalog-links a:hover {
    text-decoration: none;
}
#catalog-links a>img {
    position: absolute;
    left: 0;
    bottom: 0;
}
#catalog-links a>span {
    text-align: right;
    color: #666666;
} */
/* 
#advantage i {
    display: block;
    color: #b3b3b3;
    font-size: 2.75rem;
    text-align: center;
    padding-bottom: 2rem;
}
#advantage p {
    font-size: 0.875rem;
    color: #b3b3b3;
    text-align: center;
} */

#big-banner {
    background: url(../img/main/first_banner.png) no-repeat center center;
    background-size: cover;
}
#big-banner .banner-title {
    font-size: 2.75rem;
    line-height: 3.75rem;
    color: #000;
    font-weight: bold;
}
.btn-green {
    background-color: #90de23;
    color: #fff;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bold;
}
.btn-green:hover {
    color: #fff;
}
#description {
    background: url(../img/main/second_form.png) no-repeat center center;
    background-size: cover;
}
#description .description-title {
    font-size: 2.75rem;
    line-height: 3.75rem;
    color: #000;
    font-weight: bold;
}
.card-slider .slick-slide {
    margin: 0 1rem;
}
.brands-slider .slick-track {
    display: flex;
}
.brands-slider .slick-track .slick-slide {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
}

/* 
================
Product page css
================
*/
.provider-line {
    background-color: #fafafa;
}
.border {
    border: 2px solid #ececec;
    border-radius: 10px;
}
.best-offer-block .delivery-block {
    font-size: 1rem;
    font-weight: bold;
}
.best-offer-block .delivery-block span:first-child {
    margin-right: 1rem;
}
.best-offer-block .delivery-block i {
    font-size: 1rem;
    color: #b3b3b3;
}
.best-offer-block .unit-price {
    font-size: 1rem;
    color: #cfcfcf;
}
.best-offer-block .total-price {
    font-size: 1.875rem;
    font-weight: bold;    
    color: #90de23;
}
.best-offer-block .total-price span {
    font-size: 0.75rem;
}

.best-offer-block .total-price i[class="fas fa-ruble-sign"] {
    font-size: 1.5rem;
}
.btn-buy {
    font-size: 1.25rem;
    background-color: #90de23;
    color: #fff;
    border-radius: 50px;
    width: 100%;
    border: 2px solid #90de23;
}
.btn-buy:hover {
    color: #90de23;
    background-color: #f1fae8;
    border: 2px solid #90de23;
}

.all-providers-block .delivery-block {
    font-size: 0.875rem;
}
.all-providers-block .delivery-block i {
    font-size: 0.875rem;
    color: #b3b3b3;
}

.all-providers-block .unit-price {
    font-size: 0.875rem;
    color: #cfcfcf;
}
.all-providers-block .total-price {
    font-size: 1rem;
    font-weight: bold;    
    color: #90de23;
}
.all-providers-block .total-price span {
    font-size: 0.75rem;
}
.all-providers-block .provider-item {
    border-bottom: 1px solid #f2f2f2;
}
.all-providers-block .provider-item:last-child {
    border-bottom: none;
}
.quantity-block input {
    width: 2rem;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    border: none;
}
/* 
================
Welcome page css
================
*/
.slider-nav div {
    margin: 0 .5rem;
}
#profit img {
    display: block;
    margin: 0 auto;
}
#profit p {
    text-align: center;
    font-size: 0.875rem;
    margin-top: 1rem;
}
#partners img {
    display: block;
    margin: 0 auto;  
    margin-bottom: 1rem;  
}
#video p {
    font-size: 0.875rem;
}

/* 
=========================
Provisioner list page css
=========================
*/
.list-view > * {
    padding: 0 1rem;
}
.list-view a {
    color: #0075ff;   
}
.list-view span {
    color: #696969;
}

.liters-en a,
.liters-ru a,
.liters-en span,
.liters-ru span {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 1rem; 
}
.liters-en a,
.liters-ru a {
    color: #0075ff;
}
.liters-en span,
.liters-ru span {
    color: #b8b8b8; 
}
.category-list {
    padding: 0;
    list-style: none;
    column-count: 4;
}
.category-list li {
    margin-bottom: .75rem;      
}
.category-list a {
    font-size: 1rem;
    font-weight: bold;
    color: #0075ff;
    text-decoration: underline;
}
.category-list a:hover {
    text-decoration: none;
}

.provisioner-list {
    padding: 0;
    list-style: none;
    column-count: 3;
}
.provisioner-list li {
    margin-bottom: .75rem;     
}
.provisioner-list a {
    font-size: 1rem;
    font-weight: bold;
    border-bottom: 1px solid #dfdfdf;
    color: #323232;   

}
.provisioner-list a:hover {
    text-decoration: none;
}
/* 
====================
Action list page css
====================
*/
/* action card */
.action-card {
    border: none;
}
.action-card:hover {
    text-decoration: none;
}
.action-card.disabled .card-img-top {
    filter: grayscale(1);
}
.action-card .card-img-top {
    padding: 1rem 1rem 0 1rem;
    max-width: 180px;
    max-height: 180px;
    margin: 0 auto;
}
.action-card .label {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #ffef00;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    padding: .2rem 1rem;
    border-radius: 10px;
}
.action-card .card-body {
    background-color: #f8f8f8;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid #dfdfdf;
}
.action-card .card-title {
    font-size: 1.25rem;
    color: #000;
    font-weight: bold;
}
.action-card .card-action-status {
    font-size: 1rem;
    font-weight: bold;
    color: #666666;
}
.action-info {
    color: #4d4d4d;
    font-weight: bold;
}
/* 
================
Cart styles
================
*/

#modal-cart .modal-title {
    color: #000;
    font-size: 2.813rem;
}
#modal-cart .modal-title span {
    color: #cfcfcf;
    font-size: 1rem;
    /* vertical-align: bottom; */
}
#modal-cart .modal-header {
    border-bottom: 2px solid #e8e8e8;
}
.order-block .cart-title {
    margin-right: 1rem;
}
.order-block .delivery-block {
    font-size: 0.875rem;
    font-weight: bold;
}
.order-block .delivery-block span:first-child {
    margin-right: .5rem;
}
.order-block .delivery-block i {
    font-size: 0.875rem;
    color: #b3b3b3;
}
.order-block .cart-provis {
    color: #ccc;
}
.order-block .cart-total-price {
    font-size: 1.875rem;
    color: #90de23;
    line-height: 1.875rem;
    font-weight: bold;
    vertical-align: middle;
}
.order-item {
    border-bottom: 2px solid #e8e8e8;
}
.order-item .item-name,
.order-item .item-pack {
    color: #666666;
}
.order-item .item-unit-price,
.order-item .item-total-price {
    font-size: 1.25rem;
    color: #000;
    font-weight: bold;
}
.order-item .item-unit-price span {
    font-size: 1rem;
    color: #cfcfcf;
}

/* 
=================
Order page styles
=================
*/

.order-tab-block:hover {
    cursor: pointer;
}
.order-tab-block.border.active,
.delivery-tab-block.border.active {
    border: 2px solid #2175ff!important;
    background-color: #f2f7ff;
}
.order-tab-block .provider {
    color: #cccccc;
}
.order-block h2 {
    font-size: 2.813rem;
}
.order-block .provider {
    font-size: 1rem;
    color: #cccccc;
}
.order-block .order-confirm-block {
    position: sticky;
    top: 85px;
}
.order-block .order-confirm-block .price {
    font-size: 2.813rem;
    font-weight: bold;
    color: #000;
}
.order-block .order-confirm-block .btn-confirm {
    border-radius: 30px;
    background-color: #90de23;
    color: #fff;    
    font-size: 1rem;
    width: 100%;
}
.order-block .order-confirm-block .btn-confirm:hover {
    background-color: #f1fae8;
    color: #90de23;
}
.order-cart .name {
    font-size: 1.25rem;
    color: #000;
    font-weight: bold;
}
.order-cart .manufacturer {
    color: #666666;
}
.order-cart .pack {
    color: #666666;
}
.order-cart .pack-price {
    font-size: 1.25rem;
    color: #000;
    font-weight: bold;
}
.order-cart .pack-price span {
    font-size: 1rem;
    color: #cfcfcf;
}
.order-cart .pack-weight {
    font-size: 1rem;
    color: #cfcfcf;
}
.order-cart .price {
    font-size: 1.25rem;
    color: #000;
    font-weight: bold;    
}

/* 
==================
Client page styles
==================
*/
#client-tabs {
    border-bottom: 3px solid #9acd32;
}
#client-tabs.nav-tabs .nav-item {
    margin-bottom: -3px;
}
#client-tabs.nav-tabs .nav-link {
    border: none;
    color: #007db9;  
    font-size: 1.125rem;  
}
#client-tabs.nav-tabs .nav-link.active,
#client-tabs.nav-tabs .nav-item.show .nav-link {
    color: #000;
    background-color: #9acd32;
    border-color: #dee2e6 #dee2e6 #fff;
}
  



.history-block {
    background-color: #f6f6f6;
}
.history-block img {
    margin-bottom: 1rem;;
}